#output {
  padding: 5px;
  font-size: 20pt;
}
.btn {
  font-size: 20pt;
  font-weight: 400;
}
#output2 {
  padding: 5px;
  font-size: 20pt;
}
#output3 {
  padding: 5px;
  font-size: 20pt;
}
#output4 {
  padding: 5px;
  font-size: 20pt;
}
